@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* a tag rainbow underline animation -------- */
.aRU {
  background: 
    linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)),
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.aRU:hover,
.aRU:focus {
  background-size: 0 0.1em, 100% 0.1em;
}
/* ---------------------------------- */

/* a tag push underline animation -------- */
.aPU {
    color: inherit;
    text-underline-offset: var(--offset, 0.2em);
    text-decoration: underline 0.12em;
    transition: --offset 400ms, text-decoration-color 400ms;
}
  
.aPU:hover,
.aPU:focus {
    --offset: 0.4em;
    text-decoration-color: #FF8552;
}
@supports not (background: paint(something)) {
    .aPU {
      transition: text-underline-offset 400ms, text-decoration-color 400ms;
    }
    
    .aPU:hover,
    .aPU:focus {
      text-underline-offset: 0.4em;
    }
}
/* ---------------------------------- */

/* a tag hidden push underline animation -------- */
.aHPU {
    display: block;
    position: relative;
    padding: 0.2em 0;
}
/* Fade in */
.aHPU::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #FF8552;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
  
.aHPU:hover::after,
.aHPU:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}
/* ---------------------------------- */

/* a tag hidden slide underline animation -------- */
.aHSlU {
    display: block;
    position: relative;
    padding: 0.2em 0;
    overflow: hidden;
}
/* Fade in */
.aHSlU::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #FF8552;
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
}
  
.aHSlU:hover::after,
.aHSlU:focus::after {
    transform: translate3d(0, 0, 0);
}
/* ---------------------------------- */

/* a tag hidden scale underline animation -------- */
.aHScU {
    display: block;
    position: relative;
    padding: 0.2em 0;
}
/* Fade in */
.aHScU::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #FF8552;
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}
  
.aHScU:hover::after,
.aHScU:focus::after {
    transform: scale(1);
}
/* ---------------------------------- */

/* drop shadows -------- */
.drop-sm {
    box-shadow: 0px 0px 2px black ;
}
.drop-md {
    box-shadow: 0px 0px 8px black ;
}
.drop-lg {
    box-shadow: 0px 0px 12px black ;
}
/* ---------------------------------- */

.rounded-top-xl {
    border-radius: 0.75rem 0.75rem 0 0;
}

.rounded-bottom-xl {
    border-radius: 0 0 0.75rem 0.75rem;
}

.rounded-top-lg {
    border-radius: 0.5rem 0.5rem 0 0;
}

.rounded-bottom-lg {
    border-radius: 0 0 0.5rem 0.5rem;
}