@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* a tag rainbow underline animation -------- */
.aRU {
  background: 
    linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)),
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.aRU:hover,
.aRU:focus {
  background-size: 0 0.1em, 100% 0.1em;
}
/* ---------------------------------- */

/* a tag rainbow underline animation -------- */
.aPU {
    color: inherit;
    text-underline-offset: var(--offset, 0.2em);
    text-decoration: underline 0.12em;
    transition: --offset 400ms, text-decoration-color 400ms;
}
  
.aPU:hover,
.aPU:focus {
    --offset: 0.4em;
    text-decoration-color: #FF8552;
}
@supports not (background: paint(something)) {
    .aPU {
      transition: text-underline-offset 400ms, text-decoration-color 400ms;
    }
    
    .aPU:hover,
    .aPU:focus {
      text-underline-offset: 0.4em;
    }
}
/* ---------------------------------- */
  